body {
    background-color: #181818;
    margin: 0;
    padding: 0;

    color: #fff;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;;
}

ul {
    margin: 0;
    padding: 0;

    list-style-type: none;
}

img {
    object-fit: cover;
    object-position: center;
}

a {
    color: #fff;
    text-decoration: none;
}

.container {
    width: 1000px;
    display: flex;
    margin: auto;
}

.wrapper {
    width: 100%;
}

.leftside {
    width: 700px;
}

/* sidebar */

.sidebar {
    width: 300px;
    height: 1000px;
    background-image: url("../img/sidebar-back.jpg");
    background-repeat: no-repeat;
    position: relative;

    background-color: #202020;
}

.sidebar__avatar {
    margin-top: 130px;
    margin-left: 100px;

    border: 2px solid #fff;
    border-radius: 50%;
}

.sidebar__user-name {
    margin-bottom: 0;

    text-align: center;
    font-size: 18px;
}

.sidebar__user-status {
    text-align: center;
    margin-top: 0;
}

.sidebar__services {
    display: flex;
    justify-content: center;
}

.sidebar__service {
    margin-right: 15px;
}

.sidebar__user-description {
    width: 260px;
    margin: auto;
    margin-top: 60px;

    line-height: 18px;
    font-size: 12px;
    text-align: center;
}

.sidebar__controls {
    margin-top: 70px;
    margin-left: 25px;
    margin-right: 15px;
    display: flex;
    justify-content: space-between;
}

.sidebar__control .control__button {
    padding: 13px 25px;

    font-size: 12px;

    background-color: #ED3024;  
    border-radius: 25px;
}

.sidebar__control .control__button.write {
    background-color: #3137C9;
}


/* header */

.main__header {
    display: flex;
    min-height: 40px;
    justify-content: space-between;

    font-size: 11px;

    background-color: #0D0D0D;
}

.header__nav {
    display: flex;
}

.header__nav .nav__link {
    display: block;
    padding: 13px 13.5px;

    text-transform: uppercase;
}

.main__header a:active,
.main__header a:hover {
    background-color: #3137C9;
}

.header__nav .nav__link.nav__item--burger {
    padding-right: 33px;
    position: relative;
}

.header__nav .nav__link.nav__item--burger::after {
    content: "";
    position: absolute;
    width: 10px;
    height: 6px;
    top: 17px;
    left: 65px;

    background-image: url("../img/burger-ico.svg");
    background-repeat: no-repeat;
}

.header__profile-link {
    display: block;
    padding: 13px 13.5px;
    margin-left: 74px;

    text-transform: uppercase;
}

.haeder__search-input {
    height: 40px;
    padding: 0px 20px;
    width: 212px;

    color: #ffff;
    background-color: #202020;
    border: none;
}

.haeder__search-input::placeholder {
    color: #fff;

    opacity: 0.4;
}